[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/FastNoiseSIMD"]
	path = libs/FastNoiseSIMD
	url = https://github.com/Auburns/FastNoiseSIMD.git
[submodule "libs/stb-cmake"]
	path = libs/stb-cmake
	url = https://github.com/jschmidt42/stb-cmake.git
